<%= render @project %>

<div>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", project_path(@project),
    "data-turbo-method": :delete,
    "data-turbo-confirm": "Are you sure?" %> |
  <%= link_to "Back to projects", projects_path %>
</div>
